 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.box{
	background-color: yellow;
}
	
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.box{
	background-color: blue;
}
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.box{
	background-color: orange;
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.box{
	background-color: purple;
}
}

 /*Extra large devices (Extra large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.box{
	background-color: tomato;
}
}

 /*Extra large devices (Extra large desktops, 1200px and up)*/
@media (min-width: 1400px) and (max-width: 1699.98px) {
	.box{
	background-color: aqua;
}
}

 /*Extra large devices (Extra large desktops, 1200px and up)*/
@media (min-width: 1700px) and (max-width: 1999.98px) {
	.box{
	background-color: lime;
}
}


 /*Extra Extra large devices (Extra Extra large desktops, 1400px and up)*/
@media (min-width: 2000px) {
	.box{
	background-color: navy;
}
}